:80 {
    handle /demo/* {
        uri strip_prefix /demo
        root * /etc/demo
        file_server
    }

    handle /api/* {
        request_body {
            max_size 100MB
        }

        reverse_proxy stemsplitter-api:8000 {
            header_up Host {http.request.host}
            header_up X-Real-IP {http.request.remote_host}
            header_up X-Forwarded-For {http.request.remote_host}
            header_up X-Forwarded-Proto {http.request.scheme}
            transport http {
                read_timeout 300s
                write_timeout 300s
            }
        }
    }
}