:root {
  color-scheme: light dark; /* Handles native scrollbars/form inputs automatically */
  --bg-color: #ffffff;
  --text-color: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #efefef;
  }
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  max-width: 600px;
  margin: 40px auto;
  padding: 0 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}


#waveform {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin: 20px 0;
  padding: 10px;
}
.controls {
  display: flex;
  gap: 12px;
  align-items: center;
}

.control-panel {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}

#model-select {
    width: 100%;
}

button {
  padding: 4px 8px;
  background-color: #131314;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #808080;
}

a {
  padding: 4px 8px;
  background-color: #131314;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}

button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
input[type="file"] {
  font-size: 14px;
}

.stem-player {
  margin-bottom: 1.5rem;
  position: relative;
}

.time-display {
  position: absolute;
  top: 0;
  right: 0;
  font-family: monospace;
  font-weight: bold;
  background: #222;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
}

.controls-bar {
  margin-bottom: 1rem;
}

#app-form {
    display: grid;       /* or display: grid; */
    gap: 10px; 
    width: 100%;
}

pre {
  margin-top: 10px;
  margin-bottom: 10px;
}

#result-container {
    background-color: black;
    border: 1px solid white;
    color: yellow;
    padding: 10px;
    white-space: pre-wrap !important; 
    display: block !important;
    width: 96%;

}

#file-input {
    width: 100%;
    box-sizing: border-box;
    overflow: visible; /* Allows the browser to scroll the text internally as you type */
}

#submit {
  width: 100%;
}